<template>
  <div class="q-pa-md container items-start q-gutter-md">
    <div class="row">
      <div class="col-md-12" >
        <q-card class="my-card">
          <img v-bind:src="'http://'+myJson.image_path +'/'+ myJson.image_name " style="max-height: 400px; widht: 100%; object-fit: cover">
          <q-card-section>
            <div class="text-h6">{{myJson.title}}</div>
            <div class="text">{{ myJson.description }}</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <h6 class="q-mb-lg">Comment:</h6>
            <q-form
              @submit="submitForm"
              class="q-gutter-md q-px-md"
            >
              <q-input
                v-model="form.comment"
                filled
                type="textarea"
              />
              <div>
                <q-btn label="Submit" type="submit" color="primary"/>
              </div>
            </q-form>
            <q-list>
              <q-separator spaced inset />
              <div v-for="(data, index) in myJson.comments" :key="index" >
                <q-item>
                  <q-item-section>
                    <q-item-label>{{data.note}}</q-item-label>
                    <q-item-label caption lines="2">{{data.created_at}}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <q-separator spaced inset />
            </q-list>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
const axios = require('axios')

export default defineComponent({
  name: 'DetailPage',

  data () {
    return {
      id: this.$route.params.id,
      myJson: [],
      form: {
        comment: ''
      }
    }
  },

  methods: {
    submitForm(){
      axios.post('http://blog_quasar.local/api/comment-blogs/'+this.id, this.form)
      .then((res) => {
        this.$router.go(this.$router.currentRoute)
      })
      .catch((error) => {
        $q.notify({
          message: res.data.status,
          caption: res.data.data,
          color: 'danger'
        })
      })
    }
  },

  mounted () {
    this.$axios
      .get('http://blog_quasar.local/api/blogs/'+this.id)
      .then(response => {
        this.myJson = response.data.data
      })
      .catch(error => console.log('Error', error.message))
  }
})
</script>