<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <div class="col-md-4" v-for="(data, index) in myJson" :key="index" >
      <q-card class="my-card">
        <img v-bind:src="'http://'+data.image_path +'/'+ data.image_name " style="max-height: 200px; widht: 100%; object-fit: cover">

        <q-card-section>
          <div class="text-h6">{{data.title}}</div>
          <div class="text">{{ data.description.substring(0,100)+".." }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-btn color="primary" :to="`/blog/${data.id}`" style="width: 200px">
            <div class="ellipsis">
              Continue Reading
            </div>
          </q-btn>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
const axios = require('axios')

export default defineComponent({
  name: 'IndexPage',

  data () {
    return {
      myJson: []
    }
  },

  methods: {
  },

  mounted () {
    this.$axios
      .get('http://blog_quasar.local/api/blogs')
      .then(response => {
        this.myJson = response.data.data
        console.log(this.myJson)
      })
      .catch(error => console.log('Error', error.message))
  }
})
</script>